<div class="widget">
    <div class="widget-header bordered-left bordered-blueberry">
        <span class="widget-caption"><strong>基础信息</strong></span>
    </div>
    <div class="widget-body b ordered-left bordered-blue" style="padding: 0px;">
        <table class="table table-bordered ">
            <tbody>

            <tr>
                <td> IP</td>
                <td> {{ object.inner_ip }}</td>
            </tr>
            <tr>
                <td> 管理IP</td>
                <td> {{ object.management_ip }}</td>
            </tr>
            <tr>
                <td> 业务线</td>
                <td> {{ object.business_unit }}</td>
            </tr>
            <tr>
                <td> 操作系统</td>
                <td colspan="4">{{ object.os_type }}</td>
            </tr>
            <tr>
                <td> 系统版本</td>
                <td> {{ object.os_release }}</td>
            </tr>
            <tr>
                <td> SN号</td>
                <td> {{ object.sn }}</td>
            </tr>
            <tr>
                <td> 设备类型</td>
                {% for i,v in object.server_type_choices %}
                    {% if i == object.server_type %}
                        <td> {{ v }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td> 设备型号</td>
                <td> {{ object.server_attr }}</td>
            </tr>
            <tr>
                <td> 设备厂商</td>
                <td> {{ object.device_type }}</td>
            </tr>
            <tr>
                <td> 购买时间</td>
                <td colspan="4">{{ object.trade_date }}</td>
            </tr>
            <tr>
                <td> 过保时间</td>
                <td> {{ object.expire_date }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>