{% extends "base.html" %}
{% load asset_tags %}
{% block title %}{{ title }}{% endblock %}

{% block body %}

    <!-- Page Body -->
    <div class="page-body">
        <div id="divdelay"
             style="z-index:9999;left:40%;top:10%;width: 20%; display: none;position: fixed;">
            <p id="divdelaytext"
               style="background: none repeat scroll 0 0 #000; border-radius: 30px;color: #fff; margin: 0 auto;padding: 10px;text-align: center;width: 70%;opacity: 0.8; font-family:Microsoft YaHei;letter-spacing: 1px;font-size: 15px;">
                请不要删除数据
            </p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-header ">
                        <span class="widget-caption">{{ title }}信息</span>
                        <div class="widget-buttons">
                            <a href="#" data-toggle="maximize">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a href="#" data-toggle="collapse">
                                <i class="fa fa-minus"></i>
                            </a>
                            <a href="#" data-toggle="dispose">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="table-toolbar">
                            <a id="add" href="{% url 'asset:add' model_name=model_name %}" class="btn"> 新增</a>
                            <a id="edit" href="javascript:void(0);" class="btn"> 批量编辑</a>
                            <a id="editSub" class="hide"></a>


                            <div class="btn-group pull-right">
                                <div id="cityDuoXuan"><span class="text">自定义显示字段</span></div>
                            </div>

                        </div>
                        {% if model_name == 'server' %}
                            {% include 'asset/filter.html' %}
                        {% endif %}

                        {% if admin_class.search_fields %}
                            <div role="grid" class="dataTables_wrapper">
                                <div class="dataTables_length">
                                    <a href="?" class="btn btn-default">重置</a>
                                </div>
                                <div class="dataTables_filter">
                                    <label>
                                        <input type="search" class="form-control input-sm"
                                               aria-controls="editabledatatable">
                                    </label>
                                    <a id="searchSub" class="hide"></a>
                                </div>
                            </div>
                        {% endif %}

                        <table class="table table-striped table-bordered table-hover">
                            {% if object_list %}
                                <thead id="thead">
                                <tr>
                                    <th onclick="SelectAll()">
                                        <label>
                                            <input type="checkbox">
                                            <span class="text"></span>
                                        </label>
                                    </th>
                                    {% thead request model_name %}
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in object_list %}
                                    <tr id="{{ row.id }}">
                                        <td><label><input type="checkbox"><span class="text"></span></label></td>
                                        {% tbody_tr request row admin_class.list_display %}
                                        <td>
                                            <a href="{{ row.id }}/"> 详细信息 |</a>
                                            <a href='javascript:void(0)' onclick='modalObj({{ row.id }});'> 删除</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            {% else %}
                                <tbody>
                                <tr>
                                    <td>没有符合条件的数据</td>
                                </tr>
                                </tbody>
                            {% endif %}
                        </table>

                        <!-- 分页-->
                        <div class="row DTTTFooter">
                            <div class="col-sm-6">
                                <div class="dataTables_info">
                                    <label>
                                        <select id="page" onchange='ChangePageSelect()'
                                                class="form-control input-sm">
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="10">10</option>
                                            <option value="-1">All</option>
                                        </select>
                                        <a id="pageSub" class="hide"></a>
                                    </label>
                                    第{{ page_info.current_page }}页，共{{ page_info.all_page }}页
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_bootstrap" id="simpledatatable_paginate">
                                    <ul class="pagination">
                                        {{ page_info.page_str|safe }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /分页 -->

                        <!--模态框-->
                        <div class="modal" id="deleteModal" aria-hidden="false" tabindex="-1">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-center">删除主机</h4>
                                    </div>
                                    <div class="modal-body ">
                                        <form method="post" id="iForm">
                                            {% csrf_token %}
                                            <p id="deleteModalShow"></p>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" class="btn btn-success" data-dismiss="modal">取消</a>
                                        <a href="#" id="deleteobj" class="btn btn-danger"
                                           data-dismiss="modal">删除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--模态框结束-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

    <script>
        $(function () {
            InitMenu();
            ClickMenu();
            ChangeSelect();
            ClickProjectModule();
            ChangeProjectModule();
            Search();
            ChangeSelect();
        });


        $('#cityDuoXuan').hsCheckData({
            /*生成字段下拉菜单*/
            isShowCheckBox: true, //默认为false
            //minCheck: 3,//默认为0，不限最少选择个数
            //maxCheck: 6,//默认为0，不限最多选择个数
            //data: cityData
            data: {% custom_field model_name %}
        });
        $('#cityDuoXuan').click(function () {
            /*把当前显示的字段选中*/
            var currentField = $('#thead tr').text();
            $('[name=dataliCheck]').each(function (i, k) {
                var temp = currentField.search($(this).next().text())
                if (temp != -1) {
                    $(this).prop("checked", true)
                }
            })
        })

        function submitCustomField() {
            /*提交自定义字段*/
            var aField = new Array()
            $('[name=dataliCheck]').each(function (i, k) {
                if ($(this).prop("checked")) {
                    aField.push($(this).val())
                }
            })
            console.log(aField)
            $('#customField').attr("href", '?display_field=' + aField.join(','))
            $('#customField')[0].click()

        }

        function ClickMenu() {
            $('.submenu li a').click(function (i, t) {
                var storage = window.localStorage;
                storage["a"] = $(this).children().text();
                {#                alert('设置Cookie: ' + storage["a"])#}
            })
        }
        function InitMenu() {
            {#            alert('当前Cookie: ' + $.cookie('str'))#}
            var storage = window.localStorage;
            $('.submenu li a').each(function (i, k) {
                var t = $(this).children().text()
                if (storage["a"] == t) {
                    $(this).parent().parent().parent().addClass('open')
                    $(this).parent().addClass('active')
                }
            })
        }

        $('#edit').click(function () {
            /*编辑按钮*/
            var aID = new Array
            $(":checkbox:checked").closest("tr").each(function (i, tr) {
                {#                var val = tr.children[1].innerText#}  // 需要ID列
                var val = tr.getAttribute("id")
                if (val != null) {
                    aID.push(val)
                }

            })
            if (aID != '') {
                $('#editSub').attr("href", 'edit/?id=' + aID.join(','))
                $('#editSub')[0].click()
            }
        })
        function SelectAll() {
            /*复选框*/
            $("input[type='checkbox']").prop("checked") ? $("input[type='checkbox']").prop("checked", false) : $("input[type='checkbox']").prop("checked", true);
        }
        function modalObj(val) {
            /*修改模态框数据*/
            $.ajax({
                url: 'delete/' + val + '/',
                type: 'GET',
                data: {},
                dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        $('#deleteModalShow').text('是否删除: ' + data.name)
                        $('#deleteobj').attr('onclick', 'deleteObj(' + data.id + ');')
                        $('#deleteModal').modal('show')
                    }
                }
            })
        }
        function deleteObj(val) {
            /*提交删除操作*/
            $.ajax({
                url: '/asset/server/delete/' + val + '/',
                type: 'post',
                data: $("#iForm").serialize(),
                dataType: 'json',
                success: function (data) {
                    $('#divdelay').css('display', 'block')
                    data.status ? $('#divdelaytext').text('删除成功') : $('#divdelaytext').text('请不要删除数据')
                    window.setTimeout("$('#divdelay').css('display','none')", 2000)
                }
            })
        }
        function ClickProjectModule() {
            /*点击业务按钮的事件*/
            $("ul li").click(function () {
                var obj = $(this).text()
                var objID = $(this).parent().prev().prev().attr('id')
                console.log($(this).parent().prev().prev().attr('id'))
                if (objID == 'projectButton') {
                    $.cookie("project", obj)
                    $.cookie("module", '全部模块')
                } else if (objID == 'moduleButton') {
                    $.cookie("module", obj)
                } else if (objID == 'statusButton') {
                    $.cookie("status", obj)
                }
            });
        }
        function ChangeProjectModule() {
            /*点击业务按钮后的事件*/
            $.cookie("project") ? $("#projectButton").text($.cookie("project")) : $("#projectButton").text("全部项目")
            $.cookie("module") ? $("#moduleButton").text($.cookie("module")) : $("#moduleButton").text("全部模块")
            $.cookie("status") ? $("#statusButton").text($.cookie("status")) : $("#statusButton").text("全部状态")
        }
        function GetParameter(parameter, val) {
            /*处理请求参数,组合成新的请求参数*/
            var aCurrentParameter = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&')
            var aSendParameter = new Array()
            for (i in aCurrentParameter) {
                if (aCurrentParameter[i].search(parameter + '=') == -1 && aCurrentParameter[i].search('http://') == -1) {
                    aSendParameter.push(aCurrentParameter[i])
                }
            }
            aSendParameter.push(parameter + '=' + val)
            var aSendParameter = aSendParameter.join('&')
            return aSendParameter // project_id=1&page=2&module=3
        }
        function FilterStatus(id) {
            url = GetParameter('status', id)
            $("#statusSub").attr("href", '?' + url)
            $("#statusSub")[0].click()
        }
        function Search() {
            /*搜索*/
            $("[type='search']").keydown(function (e) {
                if (e.keyCode == 13) {
                    var searchText = $("[type='search']").val();
                    url = GetParameter('search', searchText)
                    $("#searchSub").attr("href", '?' + url)
                    $("#searchSub")[0].click()
                }
            })
        }
        function ChangePageSelect() {
            /*分页*/
            var page_val = "?" + "page_num=" + $("#page").val()
            $("#pageSub").attr("href", "{% url 'asset:list' model_name=model_name %}" + page_val)
            $("#pageSub")[0].click()
        }
        function ChangeSelect() {
            /*选中分页后改变select的值*/
            var selected_val = $("#page").val()
            var temp_val = "#page option[value=" + {{ page_info.per_page_num }} +"]"
            $(temp_val).attr("selected", true)
        }


    </script>
{% endblock %}