<ul id="menu" class="nav sidebar-menu">
    <li>
        <a href="index.html">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
    </li>
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-table"></i>
            <span class="menu-text"> 资产管理 </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li id="server">
                <a href="/asset/server/">
                    <span class="menu-text">服务器</span>
                </a>
            </li>
            <li>
                <a href="/asset/networkdevice/">
                    <span class="menu-text">网络设备</span>
                </a>
            </li>
            <li>
                <a href="/asset/idc/">
                    <span class="menu-text">IDC机房</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/asset/businessunit/">
            <i class="menu-icon fa fa-group"></i>
            {#                        <i class="menu-icon glyphicon glyphicon-home"></i>#}
            <span class="menu-text"> 业务管理 </span>
        </a>
    </li>
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-table"></i>
            <span class="menu-text"> 用户管理 </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li id="server">
                <a href="/asset/user/">
                    <span class="menu-text">用户列表</span>
                </a>
            </li>
            <li>
                <a href="/asset/role/">
                    <span class="menu-text">角色列表</span>
                </a>
            </li>
            <li>
                <a href="/asset/permission/">
                    <span class="menu-text">设置权限</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-table"></i>
            <span class="menu-text"> 堡垒机 </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="/fortress/loginhost">
                    <span class="menu-text">登陆主机</span>
                </a>
            </li>
            <li>
                <a href="/asset/role/">
                    <span class="menu-text">批量命令</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
