{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link href="{% static "xterm/xterm.css" %}" rel="stylesheet"/>
    <link href="{% static "tree/default.css" %}" rel="stylesheet"/>

{% endblock %}
{% block body %}
    <div class="page-body">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">主机管理</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">

                <div class="row">
                    <div class="col-xs-3 col-md-3">

                    </div>
                    <div class="col-xs-9 col-md-9" id="xxx">
                        <ul id="tabHead" class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
                        </ul>

                        <!-- 面板区 -->
                        <div id="tabContent" class="tab-content" style="padding: 5px">
                            <div role="tabpanel" class="tab-pane active" id="home">...</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static "xterm/xterm.js" %}"></script>
    <script src="{% static "xterm/addons/terminado/terminado.js" %}"></script>
    <script src="{% static "xterm/addons/attach/attach.js" %}"></script>
    <script src="{% static "xterm/addons/fit/fit.js" %}"></script>
    <script src="{% static "xterm/addons/search/search.js" %}"></script>
    <script src="{% static "xterm/addons/fullscreen/fullscreen.js" %}"></script>
    <script src="{% static "tree/bootstrap-treeview.js" %}"></script>
    <script>
        var defaultData = [
            {
                text: '会员',
                href: '#parent1',
                tags: ['4'],
                icon: "glyphicon glyphicon-stop",
                selectedIcon: "glyphicon glyphicon-stop",
                color: "#000000",
                backColor: "#FFFFFF",
                selectable: true,
                state: {
                    checked: true,
                    disabled: false,
                    expanded: true,
                    selected: true
                },
                tags: ['available'],
                nodes: [
                    {
                        text: 'MSHOP',
                        href: '#child1',
                        tags: ['2'],
                        nodes: [
                            {
                                text: 'wonhigh1',
                                href: '#grandchild1',
                                tags: ['10.240.1.103', 'ff', 'tt']
                            },
                            {
                                text: 'node1',
                                href: '#grandchild2',
                                tags: ['10.240.1.104', 'ff', 'tt']
                            }
                        ]
                    },
                    {
                        text: 'Child 2',
                        href: '#child2',
                        tags: ['2']
                    }
                ]
            },
            {
                text: 'Parent 2',
                href: '#parent2',
                tags: ['0']
            },
            {
                text: 'Parent 3',
                href: '#parent3',
                tags: ['0']
            },
            {
                text: 'Parent 4',
                href: '#parent4',
                tags: ['0']
            },
            {
                text: 'Parent 5',
                href: '#parent5',
                tags: ['0']
            }
        ];

        $('#treeview6').treeview({
            color: "#428bca",
            expandIcon: "glyphicon glyphicon-stop",
            collapseIcon: "glyphicon glyphicon-unchecked",
            nodeIcon: "glyphicon glyphicon-user",
            showTags: true,
            data: defaultData
        });
        function make_terminal(element, size, ws_url, ip) {
            var term = new Terminal({
                cursorBlink: true,
                cols: size.cols,
                rows: size.rows,
                scrollback: 1000,
                tabStopWidth: 4,
                useStyle: true,
            });
            term.open(element, false);
            var ws = new WebSocket("ws://10.240.1.103:8000/ws/");
            ws.onopen = function (event) {
                term.fit();
                <!--ws.send(JSON.stringify(["set_size", size.rows, size.cols,-->
                <!--term.cols, term.rows]));-->
                term.resize(20);
                ws.send(JSON.stringify(["ip", ip, term.cols, term.rows]));
                term.on('data', function (data) { ws.send(JSON.stringify(['stdin', data])); });
                term.on('title', function (title) { document.title = title; });
                term.toggleFullscreen(true);
                ws.onmessage = function (event) {
                    json_msg = JSON.parse(event.data);
                    console.log(json_msg)
                    switch (json_msg[0]) {
                        case "stdout":
                            term.write(json_msg[1]);
                            break;
                        case "disconnect":
                            term.write("\r\n\r\n[Finished...]\r\n");
                            break;
                        case "channel_name":
                            <!--console.log(json_msg[1]);-->
                            var channel_name_attribute = document.createAttribute('channel_name')
                            channel_name_attribute.value = json_msg[1];
                            element.setAttributeNode(channel_name_attribute)
                            break;
                    }
                };
            };
            return {socket: ws, term: term};
        }
        var ws_path = 'ws://10.240.1.103:8000/ws/'


        $('#treeview2').treeview({
            levels: 1,
            data: defaultData,
            onNodeSelected: function (event, data) {
                if (data.nodes) {

                } else {
                    {#                    make_terminal(ocument.getElementById('terminal-container'), {rows: 24, cols: 90}, ws_path, data.tags[0]);#}
                    var tabId = data.text;
                    var ip = data.tags[0];
                    var tabhead = '<li><a href="#' + tabId + '"data-toggle="tab"><button class="close closeTab" type="button" >×</button>' + tabId + '</a></li>'
                    var tabcontent = '<div role="tabpanel" class="tab-pane" id="' + tabId + '"></div>'
                    $('#tabHead').append(tabhead)
                    $('#tabContent').append(tabcontent)
                    $('#tabHead a:last').tab('show')
                    make_terminal(document.getElementById(tabId), {rows: 17, cols: 90}, ws_path, data.tags[0]);
                    console.log(data.tags[0])
                    console.log(data.text)
                }

            }
        });


        //    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        //    var ws_path = ws_scheme + '://' + window.location.host+ "8000" + '/ws/';

        //    var term = new Terminal({
        //        cursorBlink: true,
        //        cols: 40,
        //        rows: 10,
        //        scrollback: 1000,
        //        tabStopWidth: 4
        //    });
        //    //term.open(document.getElementById('xterm-container'),true);
        //    //console.log(term.element.classList);
        //    //term.on('data', function (data) {
        //    //                console.log(data)
        //    //            });
        //
        //
        //    var term = new Terminal();
        //    term.open(document.getElementById('terminal-container'),false);
        //
        //    ws = new WebSocket("ws://10.240.1.103:8000/ws/");
        //    //        ws.addEventListener('open', function () {
        //    //        term.terminadoAttach(ws);
        //    //    });
        //    ws.onopen = function (event) {
        //        term.fit();
        //        term.resize(term.cols, term.rows);
        //        ws.send(JSON.stringify(["ip", '10.240.1.103',80, 90]));
        //        term.on('data', function (data) {
        //            console.log(data)
        //            ws.send(JSON.stringify(['stdin', data]));
        //        });
        //
        //        term.on('title', function (title) {
        //            document.title = title;
        //        });
        //
        //
        //
        <!--term.fit();-->
        //        term.toggleFullscreen(true);
        //        ws.onmessage = function (event) {
        //                json_msg = JSON.parse(event.data);
        //                console.log(event.data)
        //                switch (json_msg[0]) {
        //                    case "stdout":
        //                        term.write(json_msg[1]);
        //                        break;
        //                    case "disconnect":
        //                        term.write("\r\n\r\n[Finished...]\r\n");
        //                        break;
        //                    case "channel_name":
        //
        <!--console.log(json_msg[1]);-->
        //                        var channel_name_attribute = document.createAttribute('channel_name')
        //                        channel_name_attribute.value = json_msg[1];
        //                        document.getElementById('terminal-container').element.setAttributeNode(channel_name_attribute)
        //                        break;
        //                }
        //            };
        //    };


    </script>
{% endblock %}
